<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="video31preferences2" frontName="video31preferences2">
            <module name="Video31_Preferences2" />
        </route>
    </router>
</config>
